body {
    background-color: #ccc;
    overflow-x: hidden;
}

header {
    background-color: rgb(49, 49, 141);
    padding: 16px;
}
header h1{
    color: #fff;
}

section {
    margin-top: 24px;
}

footer {
    background-color: rgb(49, 49, 141);
    padding: 16px;
}

footer p {
    color: #fff;
    text-align: center;
}

time {
    display: block;
}

.post {
    margin-bottom: 24px;
}